html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;

	color: white;
	background-color: black;

	image-rendering: pixelated;
}