/*body {
	max-width: 800px;
	margin: 0 auto;
	font-family: times;
	background-color: rgb(255, 255, 230);
	color: rgb(10, 10, 20);
}*/

body {
	max-width: 800px;
	margin: 0 auto;
	background-color: rgb(255, 255, 240);
	color: rgb(10, 10, 20);
      font-family: times;
      line-height: 1.6;
      padding: 0 1rem;
      max-width: 800px;
    }
    header, footer {
      padding: 0.2rem 0.1rem;
      text-align: center;
    }
    h1, h2 {
      color: rgb(200, 200, 180);
    }
    code {
      background: #eee;
      padding: 0.2rem 0.4rem;
      border-radius: 4px;
    }
    figure {
    	float: right;
    }

    #satan {
    	cursor: pointer;
  height: 120%;
    }

    @keyframes squashStretch {
  0%   { transform: scale(1, 1); }
  30%  { transform: scale(1.2, 0.8); }
  60%  { transform: scale(0.8, 1.2); }
  100% { transform: scale(1, 1); }
}

.squash-stretch {
  animation: squashStretch 0.3s ease-in-out;
}